In [1]:
"""
1! = 1

n! = 1 * 2 * ... *n
n! = 1 * 2 * ... * (n - 1) * n = (n - 1)! * n
5! = 4! * 5 = 3! * 4 * 5 = 2! * 3 * 4 * 5 = 1! * 2 * 3 * 4 * 5 = 1 * 2 * 3 * 4 * 5
"""

'\n1! = 1\n\nn! = 1 * 2 * ... *n\nn! = 1 * 2 * ... * (n - 1) * n = (n - 1)! * n\n5! = 4! * 5 = 3! * 4 * 5 = 2! * 3 * 4 * 5 = 1! * 2 * 3 * 4 * 5 = 1 * 2 * 3 * 4 * 5\n'

In [12]:
def factorial(n):
    print(f"factorial({n})")
    if n == 1:
        return 1
    
    f = factorial(n - 1)
    return f * n

"""
f(5) -> f(4) -> f(3) -> f(2) -> f(1)
     <-         <- 2*3 <- 1 * 2  <- 1
factorial(5) -> 24 * 5
factorial(4) -> 6 * 4
factorial(3) -> 2 * 3
factorial(2) -> 1 * 2
factorial(1) -> 1
"""
"""


"""

print(factorial(5))

factorial(5)
factorial(4)
factorial(3)
factorial(2)
factorial(1)
120

In [13]:
"""
GCD = НОД
НОД(a, b) = НОД(b, a % b) -> НОД(a % b, b % (a % b))
НОД(a, 0) = a
"""

def gcd(a, b):
    if b == 0:
        return a

    g = gcd(b, a % b)
    return g

gcd(16, 24)

8

In [7]:
"""
            president
                |
            vice president
        /  / / / ... \ \ \ \
    m1 

"""

8

In [14]:
numbers = [1, 2, 3, [1, 2, 3, 4]]
print(numbers)

[1, 2, 3, [1, 2, 3, 4]]

In [16]:
numbers[3][1]

2

In [24]:
"""
 j 0 1 2
i  -----
0| 0 1 0
1| 1 0 1
2| 1 0 1

[
  [0, 0, 1],
  [1, 0, 1],
  [1, 0, 1]
]

1 1 1 1 1 1
1 1 0 1 1 1
1 0 0 1 1 1
0 0 0 0 1 1
0 0 0 1 0 1

"""


def find_square(table):
    n = len(table)
    for i in range(n - 1):
        for j in range(n - 1):
            if table[i][j] == 1 and table[i + 1][j] == 1 and table[i][j + 1] and table[i + 1][j + 1] == 1:
                return True
    
    return False

print(find_square([
  [0, 0, 1],
  [1, 0, 1],
  [1, 0, 1]
]))

print(find_square([
    [1, 1, 2],
    [1, 1, 0],
    [1, 0, 0]
]))

False
True

In [29]:
numbers = [
    [1, 1, 2],
    [1, 1],
    [1, 2, 3, [1, 2, 4]],
    []
]
print(len(numbers))
print(len(numbers[1]), len(numbers[0]))
print(len(numbers[3]))

4
2 3
0

In [30]:
numbers.pop()

[]

In [31]:
numbers

[[1, 1, 2], [1, 1], [1, 2, 3, 4]]

In [32]:
numbers.index([1, 1])

1

In [33]:
numbers.index([])

ValueError: [] is not in list

In [34]:
table = [
    list(range(5)),
    list(range(5)),
    list(range(5)),
    list(range(5)),
]

In [35]:
table

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [37]:
print(*table, sep='\n')

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [46]:
def print_table(table):
    for i in range(len(table)):
        print(*table[i])

print_table(table)

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [43]:
print(1, 2, 3)

(1, 2, 3)

In [ ]:
def f(*args):
    pass

numbers = [1, 2, 3]
f(numbers)
f(*numbers)